{% load bootstrap4 %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>eLearning</title>
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <link rel="stylesheet" type="text/css" href="{% static 'eLearn/style.css' %}">
    <script src="{% static 'eLearn/sidebar.js' %}"></script>

  </head>

  <body>

    <!-- Static navbar -->
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="{% url 'eLearn:index' %}">eLearning</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          {% if user.is_authenticated %}
            <div class="nav-item nav-link active">Hello, {{ user.username }}.</div>
            <a class="nav-item nav-link" href="{% url 'users:logout' %}">log out<span class="sr-only">(current)</span></a>
          {% else %}
            <a class="nav-item nav-link" href="{% url 'users:register' %}">register</a>
            <a class="nav-item nav-link" href="{% url 'users:login' %}">log in</a>
          {% endif %}
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="page-header mt-5">
        {% block header %}{% endblock header %}
      </div>
      <div>
        {% block content %}{% endblock content %}
      </div>
    </div> <!-- /container -->

  </body>
</html>
